form {
  width: 100%;
  margin: auto;
  line-height: 20px;
}

label {
  font-weight: bold;
  font-size: 14px;
}

input {
  width: 100%;
  border-radius: 6px;
  margin: 8px 0;
  padding: 10px;
  border: 2px solid lightgray;
}

img {
  width: 100%;
  border-radius: 8px;
}

ul {
  padding: 0;
  list-style: none;
}

li {
  width: 100%;
}

textarea {
  border-radius: 6px;
  width: 100%;
  border: 2px solid lightgray;
}

.header-background {
  background-color: purple;
}

.header-text-color {
  color: white;
}

.entry-background {
  background-color: whitesmoke;
}

.save-button {
  background-color: rgb(93, 16, 160);
  color: white;
  padding: 8px 14px;
  text-align: right;
  border-radius: 8px;
  border: 0;
}

.text-right {
  text-align: right;
}

.form-margin {
  margin-top: 12px;
}

.textarea-margin {
  margin-top: 6px;
}

.save-margin {
  margin: 10px 0;
}

.entries-margin {
  margin: 0 16px;
}

.entries-text {
  line-height: 30px;
  font-size: 18px;
}

.entries-no-margin {
  margin: 0;
}

.text-center {
  text-align: center;
}

.anchor-entries {
  text-decoration: 0;
}

.anchor-button {
  text-decoration: 0;
  width: 115px;
  height: 25px;
  background: rgb(93, 16, 160);
  padding: 5px;
  border-radius: 6px;
  text-align: center;
  color: white;
}

.entries-align {
  justify-content: space-between;
  align-items: center;
}

.entries-header-space {
  display: flex;
  justify-content: space-between;
}

.edit-button {
  border: 0;
  background-color: whitesmoke;
}
